.text {
  margin-top: 42px;
  margin-bottom: 23px;
}

.button {
  position: absolute;
  bottom: 60px;
  left: 50%;
  transform: translateX(-50%);
}

.back {
  position: absolute;
  z-index: 10;
  top: 20px;
  left: 17px;
}