.elite {
  margin: 10px 112px 36px;
  width: 15vw;
  max-width: 128px;
}

.packs {
  position: relative;
  margin: 0 40px 32px;
  width: 50vw;
  max-width: 380px;

  img {
    position: relative;
    z-index: 1;
  }

  &::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 143%;
    height: 143%;
    transform: translate(-50%, -50%);
    background: url("/images/stars-bg.svg") no-repeat center;
    background-size: 100%;
  }
}

.sizes {
  margin-bottom: 28px;
}

.text {
  margin-bottom: 57px;
}

.button {
  position: absolute;
  z-index: 10;
  bottom: 60px;
  left: 50%;
  transform: translateX(-50%);
}