.container {
  position: relative;

  svg {
    position: relative;
    z-index: 1;
  }

  &::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 285%;
    height: 285%;
    transform: translate(-50%, -50%);
    background: url("/images/stars-bg.svg") no-repeat center;
    background-size: 100%;
    pointer-events: none;
  }
}