.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0;
}

.mainInner {
  position: relative;
  justify-content: center;
  gap: 40px;
  padding: 60px 40px 60px;
  height: 100vh;

  .title {
    font-family: var(--font-din), sans-serif;
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-xxxl);
    max-width: 550px;
    text-align: center;
    margin-bottom: 24px;
  }

  .text {
    font-size: var(--font-size-lg);
    white-space: nowrap;
  }

  .qr {
    width: 200px;
    height: 200px;
    padding: 16px;
    border-radius: 16px;
    background-color: var(--color-text-light);
  }
}



